html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

sl-progress-ring {
  --size: 50vw;
  --track-width: 0.5em;
  --indicator-width: 0.75em;
}

sl-progress-ring span {
  padding: 0.5em;
}

.hidden {
  display: none;
}

div.buttons {
  display: flex;
  gap: 1em;
}

.time-range {
  --track-color-active: var(--sl-color-primary-600);
  --track-color-inactive: var(--sl-color-primary-100);
  width: 80vw;
}

.timing {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.picking-media,
.controlling-media,
.closing {
  background-image: url(/icons/film.svg);
  background-position: center;
  background-size: 50%;
}

.title,
.controlling-media .status {
  padding: 1em;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1em;
  text-align: center;
  max-width: 90vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

.closing img {
  max-height: 50vh;
  max-width: 90vw;
}
